body{

    margin: 0;
}
section{
    height: 100%;
    overflow: hidden;
}
.half-width{
    float: left;
    width: 40%;
    padding:2%;
    margin-left: 5%;
   
}
.half-width img{
width:80%;
}
.link{
    text-decoration: none;
    border: 5px solid royalblue;
    padding: 1% 2%;
    color: aliceblue;
    background-color: black;
    border-radius: 5%;
}
.top{
    background-image: url(image/header-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#name{
    color: crimson;
}
.middle{
    background-image: url(image/biography-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
#bangla{
    text-align: center;
}
.half{
    float: left;
    width: 22%;
    padding: 2%;
    margin: 3%;
}
.half img{
    width: 100%;
}
.text{
    text-align: center;
}
.latest{
    background-image: url(image/latest-work-bg.png);
    background-repeat: no-repeat;
   
}
.new{
    background-color: deeppink;
    border: 5px solid deeppink;
    margin-top: 30px;
    margin-bottom: 10%;
    border-radius: 5px;
}
    
  


    
  




    
